body {
    background-color: rgb(16, 15, 15);
  }
 p {
  color: antiquewhite;
    text-align: center;
  }
* {
    color: rgb(169, 150, 128);
      text-align: center;
  
     text-decoration: none;
     
    }

